@{
    ViewData["Title"] = "Credit Note";
}



<div id="printbody">
    <style>
        *, html, body {
            background-color: #fff;
            font-family: "FontA11", FontB21, SaxMono,Consolas;
            font-size: 16px;
            color: #999;
        }

        .font-store {
            font-size: 20px;
        }

        .items {
            font-size: 15px;
        }

        hr.style {
            border-top: 1px dotted #8c8b8b;
            margin-top: 2px;
            margin-bottom: 2px;
        }

        hr.style-mt {
            border-top: 1px dotted #8c8b8b;
            margin-top: 2px;
        }

        hr.style-mb {
            border-top: 1px dotted #8c8b8b;
            margin-bottom: 2px;
        }



        /*for header*/
        .header {
            margin-left: -10px;
        }


        /*for item table */
        .col-sm-sn {
            max-width: 5%;
            flex: 0 0 5%;
            padding-left: 15px;
            display: none;
        }

        .col-sm-particulars {
            padding-left: 15px;
            max-width: 15%;
            flex: 0 0 15%;
        }

        .col-sm-qty {
            max-width: 6%;
            flex: 0 0 6%;
        }

        .col-sm-rate {
            max-width: 9%;
            flex: 0 0 9%;
        }

        .col-sm-promo-disc {
            max-width: 9%;
            flex: 0 0 9%;
        }

        .col-sm-total {
            max-width: 9%;
            flex: 0 0 9%;
        }

        .total-quantity {
            margin-top: -15px;
            margin-bottom: -6px;
        }

        .display-none {
            display: none;
        }
    </style>

    @* fonts *@
    @*<basefont face="arial, verdana, sans-serif">*@

    @* Store Info *@
    <center class="header">
        <div class="row">
            <div class="col-sm-6">
                <div class="make-center font-store">
                    {companyName}
                </div>
                <div class="make-center">
                    {storeLocation}
                </div>
                <div class="make-center">
                    VAT No: {vatNumber}
                </div>
                <div class="make-center">
                    {invoiceType}
                </div>
                <div class="make-center">
                    {copyName}
                </div>
            </div>
        </div>
    </center>
    <div class="clearfix"><br /></div>


        @* Billing Info *@
        <div class="row">
            <div class="col-sm-12">

                <div class="row pb-1">

                    <div class="col-sm-2">
                        BILL #
                    </div>
                    <div class="col-sm-7">
                        : {billNumber}
                    </div>
                </div>
                <div class="row pb-1">

                    <div class="col-sm-2">
                        Ref No. #
                    </div>
                    <div class="col-sm-7">
                        : {billRefNumber}
                    </div>
                </div>

                <div class="row pb-1">
                    <div class="col-sm-2">
                        Date
                    </div>
                    <div class="col-sm-9">
                        : {dateBS} ({dateAD})
                    </div>
                </div>
                <div class="row pb-1 {customerhide}">
                    <div class="col-sm-2">
                        Bill To
                    </div>
                    <div class="col-sm-9">
                        : {billToName}
                    </div>
                </div>
                <div class="row pb-1 {customerhide} {addresshide}">
                    <div class="col-sm-2">
                        Address
                    </div>
                    <div class="col-sm-9">
                        : {billToAddress}
                    </div>
                </div>
                <div class="row pb-1 {customerhide} {mobilehide}">
                    <div class="col-sm-2">
                        Mobile
                    </div>
                    <div class="col-sm-9">
                        : {billToMobile}
                    </div>
                </div>
                <div class="row pb-1">

                    <div class="col-sm-2">
                        Remarks
                    </div>
                    <div class="col-sm-7">
                        : {Remarks}
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="col-sm-2">
                        Pay Mode
                    </div>
                    <div class="col-sm-4">
                        : {paymentMode}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <hr class="style-4 style-mb" />
                    </div>
>>>>>>> 2c93e08b41be151520c88e724335afdf77d3d2de
                </div>
            </div>
            <div class="row pb-1">

                <div class="col-sm-2">
                    Ref No. #
                </div>
                <div class="col-sm-7">
                    : {billRefNumber}
                </div>
            </div>

            <div class="row pb-1">
                <div class="col-sm-2">
                    Date
                </div>
                <div class="col-sm-9">
                    : {dateBS} ({dateAD})
                </div>
            </div>
            <div class="row pb-1 {customerhide}">
                <div class="col-sm-2">
                    Bill To
                </div>
                <div class="col-sm-9">
                    : {billToName}
                </div>
            </div>
            <div class="row pb-1 {customerhide}{addresshide}">
                <div class="col-sm-2">
                    Address
                </div>
                <div class="col-sm-9">
                    : {billToAddress}
                </div>
            </div>
            <div class="row pb-1 {customerhide}{mobilehide}">
                <div class="col-sm-2">
                    Mobile
                </div>
                <div class="col-sm-9">
                    : {billToMobile}
                </div>
            </div>
            <div class="row pb-1">

                <div class="col-sm-2">
                    Remarks
                </div>
                <div class="col-sm-7">
                    : {Remarks}
                </div>
            </div>
            <div class="row pb-1">
                <div class="col-sm-2">
                    Pay Mode
                </div>
                <div class="col-sm-4">
                    : {paymentMode}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <hr class="style-4 style-mb" />
                </div>
            </div>

        </div>
    </div>

    @* Item Table *@
    <div class="row">
        <div class="col-sm-11">
            <div class="row pb-1 item-header">
                <div class="sn col-sm-sn">
                    Sn
                </div>
                <div class="col-sm-particulars">
                    Particulars
                </div>
                <div class="col-sm-qty text-right">
                    Qty
                </div>
                <div class="col-sm-rate text-right">
                    Rate
                </div>
                <div class="col-sm-promo-disc text-right">
                    P.Dis
                </div>
                <div class="col-sm-total text-right">
                    Amount
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <hr class="style-mt" />
                </div>
            </div>
        </div>
        <div class="col-sm-11" id="items">
            <div class="row pb-1 items">
                <div class="col-sm-sn">
                    {ItemSN}
                </div>
                <div class="col-sm-particulars">
                    {ItemName}
                </div>
                <div class="col-sm-qty text-right">
                    {ItemQuantity}
                </div>
                <div class="col-sm-rate text-right">
                    {ItemRate}
                </div>
                <div class="col-sm-promo-disc text-right">
                    {ItemPromoDiscount}
                </div>
                <div class="col-sm-total text-right">
                    {ItemTotal}
                </div>
            </div>

        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <hr class="style-mt" />
                </div>
            </div>
        </div>
    </div>


    @* Total Calculation *@
    <div class="row">
        <div class="col-sm-11">
            <div class="row items total-quantity">
                <div class="col-sm-sn"></div>
                <div class="col-sm-particulars"></div>
                <div class="col-sm-qty text-right">
                    {totalQuantity}
                </div>
                <div class="col-sm-rate text-right"></div>
                <div class="col-sm-promo-disc text-right"></div>
                <div class="col-sm-total text-right"></div>
            </div>




            <div class="row pb-1">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    &nbsp; Total
                    <span class="pull-right">:</span>
                </div>
                <div class="col-sm-2 text-right">
                    {totalGrossAmount}
                </div>
            </div>
            <div class="row pb-1">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    &nbsp; Promo Disc.
                    <span class="pull-right">:</span>
                </div>
                <div class="col-sm-2 text-right">
                    {promoDiscount}
                </div>
            </div>
            <div class="row pb-1">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    &nbsp; Loyalty Disc.
                    <span class="pull-right">:</span>
                </div>
                <div class="col-sm-2 text-right">
                    {loyaltyDiscount}
                </div>
            </div>
            <div class="row pb-1">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    &nbsp; Taxable
                    <span class="pull-right">:</span>
                </div>
                <div class="col-sm-2 text-right">
                    {totalTaxableAmount}
                </div>
            </div>
            <div class="row pb-1">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    &nbsp; NonTaxable
                    <span class="pull-right">:</span>
                </div>
                <div class="col-sm-2 text-right">
                    {totalNonTaxableAmount}
                </div>
            </div>
            <div class="row pb-1">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    &nbsp; Vat 13%
                    <span class="pull-right">:</span>
                </div>
                <div class="col-sm-2 text-right">
                    {totalVat}
                </div>
            </div>
            <div class="row pb-1">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    &nbsp; Net Amount
                    <span class="pull-right">:</span>
                </div>
                <div class="col-sm-2 text-right">
                    {totalNetAmount}
                </div>
            </div>
            <div class="row pb-1 sr-only">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <hr class="style" />
                </div>
            </div>
            <div class="row pb-1 sr-only">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    &nbsp; Tender
                    <span class="pull-right">:</span>
                </div>
                <div class="col-sm-2 text-right">
                    {tenderAmount}
                </div>
            </div>
            <div class="row pb-1 sr-only">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    &nbsp; Change
                    <span class="pull-right">:</span>
                </div>
                <div class="col-sm-2 text-right">
                    {changeAmount}
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <hr class="style-mt" />
                </div>
            </div>
        </div>
    </div>

    @* Footer *@
    <div class="row">
        <div class="col-sm-11">
            <div class="row pb-1">
                <div class="col-sm-6 text-justify">
                    Welcome to great shopping experience.
                    Goods exchange within 7 days with original bill.
                    contact: 01-5550422,23
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <hr class="style" />
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-1">
        <div class="col-sm-11">
            <div class="row pb-1">
                <div class="col-sm-2">
                    Counter
                </div>
                <div class="col-sm-5">
                    : {terminalName} ({transTime})
                </div>
            </div>
            <div class="row pb-1">
                <div class="col-sm-2">
                    Cashier
                </div>
                <div class="col-sm-5">
                    : {cashierName}
                </div>
            </div>
        </div>
    </div>

</div>

