html, body {
    height: 100%;
}

.br {
    padding-top: 5px;
}


/*Remove arrow in number textbox*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}