@model IEnumerable<POS.DTO.CreditNote>

@{
    ViewData["Title"] = "Credit Note Reports";
}

<div class="page-wrapper">
    <div class="page-header">
        <div class="page-header-title">
            <h4>@ViewData["Title"]</h4>

        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">Report</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">@ViewData["Title"]</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block">
                        @*Your content here*@
                        <div id="grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {

    <script>

        $(document).ready(function () {
           
            $("#grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: window.location.origin + "/Reports/CreditNoteApi"
                    },
                    schema: {
                        model: {
                            fields: {
                                trans_Date_Ad: { type: "date" },
                                total_Gross_Amount: { type: "number" },
                                total_Discount: { type: "number" },                               
                                total_Net_Amount: { type: "number" }
                            }
                        },
                        data: function (data) {                           
                            return data;
                        }
                    },
                    pageSize: 100,
                    sort: { field: "invoice_Number", dir: "desc" },
                    //group: {
                    //    field: "trans_Date_Ad", aggregates: [
                    //        { field: "trans_Date_Bs", aggregate: "count" },
                    //        { field: "total_Gross_Amount", aggregate: "sum" },
                    //        { field: "total_Discount", aggregate: "sum" },                           
                    //        { field: "total_Net_Amount", aggregate: "sum" }
                    //    ],
                    //    dir: "desc"
                    //},
                    aggregate: [
                        { field: "total_Gross_Amount", aggregate: "sum" },
                        { field: "total_Discount", aggregate: "sum" },                        
                        { field: "total_Net_Amount", aggregate: "sum" }
                    ],
                },
                height: 550,
                filterable: true,
                sortable: true,
                pageable: true,
                resizable:true,

                columns: [
                    {
                        title: "Invoice Number",
                        field: "credit_Note_Number",
                        filterable: false,

                    },
                     {
                        title: "Ref Number",
                        field: "reference_Number",
                        filterable: false,

                    },
                    {
                        field: "trans_Date_Ad",
                        title: "Date",
                        format: "{0:MM/dd/yyyy}",
                    }, {
                        field: "trans_Date_Bs",
                        title: "BS",
                        footerAttributes: {
                            "class": "p-1 text-right"

                        },
                        groupFotterAttributes: {
                            "class": "p-1 text-right"
                        },
                        groupFooterTemplate: "Count: #: count #",
                        footerTemplate: "Total"
                    },
                    {
                        field: "total_Gross_Amount",
                        title: "Gross Amount",
                        attributes: {
                            "class": "p-1 text-right"
                        },
                        footerAttributes: {
                            "class": "p-1 text-right"
                        },
                        groupFotterAttributes: {
                            "class": "p-1 text-right"
                        },
                        template: "#: CurrencyFormat(total_Gross_Amount) #",
                        groupFooterTemplate: "#: CurrencyFormat(sum) #",
                        footerTemplate: "#: CurrencyFormat(sum) #",

                    },

                    {
                        field: "total_Discount",
                        title: "Discount",
                        attributes: {
                            "class": "p-1 text-right"
                        },
                        footerAttributes: {
                            "class": "p-1 text-right"
                        },
                        groupFotterAttributes: {
                            "class": "p-1 text-right"
                        },
                        template: "#: CurrencyFormat(total_Discount) #",
                        groupFooterTemplate: "#: CurrencyFormat(sum) #",
                        footerTemplate: "#: CurrencyFormat(sum) #",
                    },                   
                    {
                        field: "total_Net_Amount",
                        title: "Net Amount",
                        attributes: {
                            "class": "p-1 text-right"
                        },
                        footerAttributes: {
                            "class": "p-1 text-right"
                        },
                        groupFotterAttributes: {
                            "class": "p-1 text-right"
                        },
                        template: "#: CurrencyFormat(total_Net_Amount) #",
                        groupFooterTemplate: "#: CurrencyFormat(sum) #",
                        footerTemplate: "#: CurrencyFormat(sum) #",
                    },
                     {
                        title: "Credit Note",
                        field: "credit_Note",
                        filterable: false,

                    },
                      {
                        title: "Status",
                        field: "remarks",
                        filterable: false,

                    },
                ]
            });
            $(".k-grid-content").css("overflow-y", "hidden").mCustomScrollbar();
            //var g = $("#SalesInvoiceTable").data("kendoGrid");
            //g.dataSource.pageSize(10);
            //g.dataSource.group({ field: "Date" });
            //PageSlimScroll();
        });

    </script>
}

