@model IEnumerable<POS.DTO.SalesInvoice>
@{
    ViewData["Title"] = "Sales Invoice Reports";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>

    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 6px 32px;
        text-align: center;
        text-decoration: none;
        display: inline - block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .disabled-link {
        color: Gray;
    }
</style>
<div class="page-wrapper">
    <div class="page-header">
        <div class="page-header-title">
            <h4>@ViewData["Title"]</h4>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">Report</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">@ViewData["Title"]</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block">
                        @*Your content here*@
                        <p>
                            StartDate: <input type="text" id="startdatepicker" />
                            EndDate: <input type="text" id="enddatepicker" />
                            <button class="button" onclick="DateFilter()">Preview</button>
                        </p>
                        <div id="grid"></div>
                        <script type="x/kendo-template" id="page-template">
                            <div class="page-template">
                                <div class="header">
                                    <div style="float: right">Page #: pageNum # of #: totalPages #</div>
                                </div>
                                @*<div class="watermark">KENDO UI</div>*@
                                <div class="footer">
                                    Page #: pageNum # of #: totalPages #
                                </div>
                            </div>
                        </script>
                        <script type="x/kendo-template" id="item-template">
                            <div class="items"></div>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/kendo-ui/kendo.all.min.js"></script>
    <script type="text/javascript">

        var store = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Store));

        /*
            This demo renders the grid in "DejaVu Sans" font family, which is
            declared in kendo.common.css. It also declares the paths to the
            fonts below using <tt>kendo.pdf.defineFont</tt>, because the
            stylesheet is hosted on a different domain.
        */
        kendo.pdf.defineFont({
            "DejaVu Sans": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
            "DejaVu Sans|Bold": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
            "DejaVu Sans|Bold|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "DejaVu Sans|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
            "WebComponentsIcons": "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
        });

        var startdate = new Date();
        var dd = String(startdate.getDate()).padStart(2, '0');
        var mm = String(startdate.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = startdate.getFullYear();
        startdate = mm + '/' + dd + '/' + yyyy;
        var enddate = new Date();
        enddate = startdate;

        function DateFilter() {
            $("#grid").data("kendoGrid").destroy();
            startup();
        }

        $(function () {
            $("#startdatepicker").datepicker({
                onSelect: function (date) {
                    //ate = new date();
                    startdate = date;
                }
            }).on("change", function () {
                startdate = this.value;
            });
            $('#startdatepicker').datepicker('setDate', 'startdate');

            $("#enddatepicker").datepicker({
                onSelect: function (date) {
                    enddate = date;
                }
            }).on("change", function () {
                enddate = this.value;
            });
            $('#enddatepicker').datepicker('setDate', 'enddate');
        });

        function printInvoice(evt) {
            $(evt).addClass('disabled-link').removeAttr('onclick');
            var invoiceData = $("#grid").data("kendoGrid").dataItem(evt.closest("tr"));

            $.ajax({
                url: window.location.origin + "/Print/GetPrintCount?invoiceNumber=" + invoiceData.invoice_Number,
                type: 'POST',
                complete: function (result) {

                    if (result.status === 200) {
                        var data = {
                            invoiceData: invoiceData,
                            storeData: store,
                            copy: result.responseJSON.printCount,
                            billData: result.responseJSON.billData,
                            paymentMode: result.responseJSON.paymentMode
                        };

                        printer.PrintInvoice(data, function () {
                            ////update printcount
                            //$.ajax({
                            //    url: window.location.origin + "/Print/UpdatePrintCount?invoiceNumber=" + data.invoiceData.invoice_Number,
                            //    type: 'POST',
                            //    complete: function (result) {
                            //    }
                            //});
                        });
                    }
                    setTimeout(function () {
                        $(evt).removeClass('disabled-link').attr('onclick', 'printInvoice(this)');
                    }, 5000);
                }
            });
        }

        function detailInit(e) {
            var detailRow = e.detailRow;
            detailRow.find(".items").kendoGrid({
                dataSource: {
                    data: e.data.salesInvoiceItems,
                    pageSize: 20,
                },
                scrollable: false,
                sortable: true,
                pageable: true,
                columns: [
                    { field: "itemCode", title: "Item Code", width: "15%" },
                    { field: "name", title: "Item Name" },
                    { field: "quantity", title: "Quantity", width: "10%" },
                    { field: "rate", title: "Rate", width: "15%" },
                    { field: "discount", title: "Discount", width: "10%" },
                    { field: "gross_Amount", title: "Amount", width: "15%" }
                ]
            });
        }

        function startup() {
            $("#grid").kendoGrid({
                height: CalcGridHeight(),
                toolbar: ["pdf", "excel"],
                pdf: {
                    allPages: true,
                    avoidLinks: true,
                    paperSize: "A4",
                    margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
                    landscape: true,
                    repeatHeaders: true,
                    template: $("#page-template").html(),
                    scale: 0.8
                },
                excel: {
                    fileName: "ABBREVIATED TAX INVOICE Report.xlsx",
                    proxyURL: window.location.origin + "/Reports/Excel_Export_Save",
                    filterable: true,
                    allPages: true
                },
                excelExport: function (e) {
                    
            kendo.ui.progress(this.element, false);
          },
                dataSource: {

                    transport: {
                        read: {
                            url: "/Reports/SalesInvoiceApi?startdate=" + startdate + "&enddate=" + enddate,
                            dataType: "json",
                            type: "POST"
                        },
                    },
                    schema: {
                        model: {
                            fields: {
                                trans_Date_Ad: { type: "date" },
                                total_Gross_Amount: { type: "number" },
                                total_Discount: { type: "number" },
                                total_Net_Amount: { type: "number" },
                                card: { type: "number" },
                                cash: { type: "number" },
                                credit: { type: "number" },
                                credit_Note: { type: "number" }

                            }
                        },
                        data: "data",
                        total: "total",
                        grossAmountTotal: "grossAmountTotal"


                    },
                    pageSize:25 ,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    serverAggregates: true,
                    group: {
                        field: "trans_Date_Ad", aggregates: [
                            { field: "trans_Date_Bs", aggregate: "count" },
                            { field: "total_Gross_Amount", aggregate: "sum" },
                            { field: "total_Discount", aggregate: "sum" },
                            { field: "total_Net_Amount", aggregate: "sum" },
                            { field: "card", aggregate: "sum" },
                            { field: "cash", aggregate: "sum" },
                            { field: "credit", aggregate: "sum" },
                            { field: "credit_Note", aggregate: "sum" }




                        ],
                        dir: "desc"
                    },
                    aggregate: [
                        { field: "total_Gross_Amount", aggregate: "sum" },
                        { field: "total_Discount", aggregate: "sum" },
                        { field: "total_Net_Amount", aggregate: "sum" },
                        { field: "card", aggregate: "sum" },
                        { field: "cash", aggregate: "sum" },
                        { field: "credit", aggregate: "sum" },
                        { field: "credit_Note", aggregate: "sum" },
                        { field: "grossAmountTotal", aggregate: "sum" },






                    ],
                    sort: [{ field: "invoice_Number", dir: "desc" }]

                },
                filterable: true,
                sortable: true,
                pageable: {
                    messages: {
                        empty: "No items to display"
                    },
                    refresh: true,
                    pageSizes: [25, 100, 200, 500, 1000],
                    buttonCount: 5
                },
                resizable: true,
                detailTemplate: kendo.template($("#item-template").html()),
                detailInit: detailInit,
                columns: [
                    {
                        title: "Invoice Number",
                        field: "invoice_Number"
                    },
                    {
                        field: "trans_Date_Ad",
                        title: "Date",
                        format: "{0:MM/dd/yyyy}",
                       // groupHeaderTemplate:  "#= value # | date:localeShortDate + ' HH:mm:ss'"
                    }, {
                        field: "trans_Date_Bs",
                        title: "BS",
                        footerAttributes: {
                            "class": "p-1 text-right"
                        },
                        groupFotterAttributes: {
                            "class": "p-1 text-right"
                        },
                       // groupHeaderTemplate: "Units In Stock: #= value # (Count: #= count#)"
                        groupFooterTemplate: "Count: #: count #",
                        //footerTemplate: "Total"
                    },
                    {
                        field: "card",
                        title: "Card",
                        attributes: {
                            "class": "p-1 text-right"
                        },
                        footerAttributes: {
                            "class": "p-1 text-right"
                        },
                        groupFotterAttributes: {
                            "class": "p-1 text-right"
                        },
                        template: "#: CurrencyFormat(card) #",
                        groupFooterTemplate: "#: CurrencyFormat(sum) #",
                        //footerTemplate: "#: CurrencyFormat(sum) #",
                    },
                    {
                        field: "cash",
                        title: "Cash",
                        attributes: {
                            "class": "p-1 text-right"
                        },
                        footerAttributes: {
                            "class": "p-1 text-right"
                        },
                        groupFotterAttributes: {
                            "class": "p-1 text-right"
                        },
                        template: "#: CurrencyFormat(cash) #",
                        groupFooterTemplate: "#: CurrencyFormat(sum) #",
                        //footerTemplate: "#: CurrencyFormat(sum) #",
                    },
                    {
                        field: "credit",
                        title: "Credit",
                        attributes: {
                            "class": "p-1 text-right"
                        },
                        footerAttributes: {
                            "class": "p-1 text-right"
                        },
                        groupFotterAttributes: {
                            "class": "p-1 text-right"
                        },
                        template: "#: CurrencyFormat(credit) #",
                        groupFooterTemplate: "#: CurrencyFormat(sum) #",
                        //footerTemplate: "#: CurrencyFormat(sum) #",
                    },
                    {
                        field: "credit_Note",
                        title: "Credit Note",
                        attributes: {
                            "class": "p-1 text-right"
                        },
                        footerAttributes: {
                            "class": "p-1 text-right"
                        },
                        groupFotterAttributes: {
                            "class": "p-1 text-right"
                        },
                        template: "#: CurrencyFormat(credit_Note) #",
                        groupFooterTemplate: "#: CurrencyFormat(sum) #",
                        //footerTemplate: "#: CurrencyFormat(sum) #",
                    },
                    {
                        field: "total_Gross_Amount",
                        title: "Gross Amount",
                        attributes: {
                            "class": "p-1 text-right"
                        },
                        footerAttributes: {
                            "class": "p-1 text-right"
                        },
                        groupFotterAttributes: {
                            "class": "p-1 text-right"
                        },
                        template: "#: CurrencyFormat(total_Gross_Amount) #",
                        groupFooterTemplate: "#: CurrencyFormat(sum) #",
                        //footerTemplate: "#: CurrencyFormat(sum) #",


                    },
                    {
                        field: "total_Discount",
                        title: "Discount",
                        attributes: {
                            "class": "p-1 text-right"
                        },
                        footerAttributes: {
                            "class": "p-1 text-right"
                        },
                        groupFotterAttributes: {
                            "class": "p-1 text-right"
                        },
                        template: "#: CurrencyFormat(total_Discount) #",
                        groupFooterTemplate: "#: CurrencyFormat(sum) #",
                        //footerTemplate: "#: CurrencyFormat(sum) #",
                    },
                    {
                        field: "total_Net_Amount",
                        title: "Net Amount",
                        attributes: {
                            "class": "p-1 text-right"
                        },
                        footerAttributes: {
                            "class": "p-1 text-right"
                        },
                        groupFotterAttributes: {
                            "class": "p-1 text-right"
                        },
                        template: "#: CurrencyFormat(total_Net_Amount) #",
                        groupFooterTemplate: "#: CurrencyFormat(sum) #",
                        //footerTemplate: "#: CurrencyFormat(sum) #",
                    },
                    {
                        title: "Action",
                        attributes: {
                            "class": "p-1 text-right"
                        },
                        template: '<a href="javascript:void(0)" class="print" onclick="printInvoice(this)">Print</a>'
                    }
                ],
            });
            // $(".k-grid-content").css("overflow-y", "hidden").mCustomScrollbar();
            $(".k-grid-excel")[0].onmousedown = function (e) {

        $("#loadingDiv").show();
      }
        }

        $(document).ready(function () {
            //var g = $("#SalesInvoiceTable").data("kendoGrid");
            //g.dataSource.pageSize(10);
            //g.dataSource.group({ field: "Date" });
            //PageSlimScroll();
            startup();
        });

    </script>
}