@model POS.DTO.Store
@{
    ViewData["Title"] = "Credit Landing";
}
<style>
    .cinfo {
        font-size: xx-large;
    }

    .caddress {
        font-size: large;
    }
    /* hide the blue outline */
    .form-control:focus {
        outline: 0 !important;
        border-color: #e9ecef !important;
        box-shadow: none !important;
    }

    #membership-panel, #message {
        display: none;
    }

    .selected {
        background-color: rgb(128, 128, 128);
        color: #FFF;
    }
    #memberSaveButton:hover, #memberSaveButton:focus {
        background-color: #011a25;
        border-color: #011a25;
        color: #fff;
        cursor: pointer;
    }
</style>
<div class="page-wrapper">

    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block">
                        @*Your content here*@
                        @Html.Partial("_ResponseMessagePartial")
                        <div class="cinfo text-center font-weight-bold">@Model.COMPANY_NAME</div>
                        <div class="caddress text-center font-weight-bold">@Model.ADDRESS</div>
                        <div class="pt-5" style=" min-height: 400px">

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-9">
                                    @*<div class="row">
                                            <div class="col-md-2">
                                                <input type="button" value="Add New (F2)" class="btn btn-success btn-sm" id="addNewMemberButton" />
                                            </div>
                                            <div class="col-md-2">
                                                <input type="button" value="Skip (ESC)" class="btn btn-warning btn-sm" id="skipPage" />
                                            </div>
                                        </div>*@

                                    <div class="br"></div>
                                    <div class="form-group input-group">
                                        <input type="search" class="form-control form-control-lg py-2 border-right-0 border search search-input" placeholder="Search Membership" />
                                        <span class="input-group-append border-left-0 border p-2">
                                            <i class="input-group-text bg-transparent  search fa fa-search"></i>
                                        </span>
                                    </div>
                                    <span class="text-danger" id="message"></span>
                                    <div class="br"></div>
                                   
                                   
                                    <div class="row">
                                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                            <table id="memberTable" class="table table-sm table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Id</th>
                                                        <th>Name</th>
                                                        <th>Mobile</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                <div class="col-md-1"></div>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
     // var customerList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Customer));
    </script>
   
    <script src="~/js/Page/InvoiceLanding.js"></script>


}
