
@{
    ViewData["Title"] = "Shortcuts";
}

<div class="page-wrapper">
    <div class="page-header">
        <div class="page-header-title">
            <h4>@ViewData["Title"]</h4>
            <span>List of @ViewData["Title"]</span>
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">Support</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#!">@ViewData["Title"]</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block">
                        @*Your content here*@
                        <table id="grid" class="table table-sm table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Page</th>
                                    <th>Name</th>
                                    <th>Shortcut key</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Global</td>
                                    <td> Go Back</td>
                                    <td> ALT + <-</td>
                                </tr>
                                <tr>
                                    <td>Global</td>
                                    <td> Go Forward</td>
                                    <td> ALT + -></td>
                                </tr>
                                <tr>
                                    <td>Global</td>
                                    <td> Open new Sales Invoice</td>
                                    <td> CTRL + ALT + I</td>
                                </tr>
                                <tr>
                                    <td>Global</td>
                                    <td> Open new Tax Invoice</td>
                                    <td> CTRL + ALT + T</td>
                                </tr>
                                <tr>
                                    <td>Global</td>
                                    <td> Open new Credit Note</td>
                                    <td> CTRL + ALT + C</td>
                                </tr>
                                <tr>
                                    <td>InvoiceLanding</td>
                                    <td> New Membership</td>
                                    <td> F2</td>
                                </tr>
                                <tr>
                                    <td>InvoiceLanding</td>
                                    <td> Skip Membership</td>
                                    <td> ESC</td>
                                </tr>
                                <tr>
                                    <td>Sales Invoice</td>
                                    <td> Focus on Barcode Textbox</td>
                                    <td> CTRL + B</td>
                                </tr>
                                <tr>
                                    <td>Sales Invoice</td>
                                    <td> Focus on recent item quantity</td>
                                    <td> CTRL + Q</td>
                                </tr>
                                <tr>
                                    <td>Sales Invoice</td>
                                    <td> Focus on flat discount textbox</td>
                                    <td> CTRL + F</td>
                                </tr>
                                <tr>
                                    <td>Sales Invoice</td>
                                    <td> Select flat discount percent</td>
                                    <td> CTRL + F + P</td>
                                </tr>
                                <tr>
                                    <td>Sales Invoice</td>
                                    <td> Select flat discount amount</td>
                                    <td> CTRL + F + A</td>
                                </tr>
                                <tr>
                                    <td>Sales Invoice</td>
                                    <td> Focus on membership textbox</td>
                                    <td> CTRL + M</td>
                                </tr>
                                <tr>
                                    <td>Sales Invoice</td>
                                    <td>Convert invoice to Sales / Tax</td>
                                    <td>ALT + C</td>
                                </tr>
                                <tr>
                                    <td>Sales Invoice</td>
                                    <td>Hold Current SalesInvoice</td>
                                    <td>CTRL + ALT + P, PAUSE</td>
                                </tr>
                                <tr>
                                    <td>Sales Invoice</td>
                                    <td>Save Current SalesInvoice</td>
                                    <td>CTRL + ALT + S</td>
                                </tr>
                                <tr>
                                    <td>Sales Invoice</td>
                                    <td>Show List of Holding SalesInvoice</td>
                                    <td>F2</td>
                                </tr>
                                <tr>
                                    <td>Sales Invoice</td>
                                    <td>Show List of Saved SalesInvoice</td>
                                    <td>F4</td>
                                </tr>
                                <tr>
                                    <td>Sales Invoice</td>
                                    <td>Reset SalesInvoice</td>
                                    <td>CTRL + R</td>
                                </tr>
                                <tr>
                                    <td>Sales Invoice</td>
                                    <td>Save SalesInvoice</td>
                                    <td>CTRL + END, END</td>
                                </tr>
                                <tr>
                                    <td>Sales Invoice</td>
                                    <td>Expand Customer</td>
                                    <td>F6</td>
                                </tr>
                                <tr>
                                    <td>Billing</td>
                                    <td>Go back from billing screen to SalesInvoice</td>
                                    <td>ESC</td>
                                </tr>
                                <tr>
                                    <td>Billing</td>
                                    <td>Select payment method Cash</td>
                                    <td>F1</td>
                                </tr>
                                <tr>
                                    <td>Billing</td>
                                    <td>Select payment method Card</td>
                                    <td>F2</td>
                                </tr>
                                <tr>
                                    <td>Billing</td>
                                    <td>Select payment method Credit</td>
                                    <td>F3</td>
                                </tr>
                                <tr>
                                    <td>Billing</td>
                                    <td>Select payment method CreditNote</td>
                                    <td>F4</td>
                                </tr>
                                <tr>
                                    <td>Billing</td>
                                    <td>Save Billing</td>
                                    <td>CTRL + END, END</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({

            });
            $(".k-grid-content").css("overflow-y", "hidden").mCustomScrollbar();
            //$("#grid").data("kendoGrid").dataSource.pageSize(10);
            var g = $("#grid").data("kendoGrid");
            g.dataSource.group({ field: "Page" });
            g.hideColumn(0);
            // PageSlimScroll();
        });
    </script>
}



