
@{
    ViewData["Title"] = "Shortcuts";
}

<h2>List of shortcuts</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <table id="shortcut-table" class="table table-sm table-bordered table-striped table-hover">
            <thead>
                <tr>                    
                    <th>Name</th>
                    <th>Shortcut key</th>                   
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Focus on Barcode Textbox</td>
                    <td> Ctrl + b</td>
                </tr>
                <tr>
                    <td>Save SalesInoice / TaxInvoice</td>
                    <td>Ctrl + end</td>
                </tr>
                <tr>
                    <td>Hold Current SalesInoice / TaxInvoice</td>
                    <td>Ctrl + Alt + P</td>
                </tr>
                <tr>
                    <td>Show List of Holding SalesInoice / TaxInvoice</td>
                    <td>F2</td>
                </tr>
                <tr>
                    <td>Go back from billing screen to SalesInoice / TaxInvoice</td>
                    <td>ESC</td>
                </tr>
            </tbody>         
        </table>
    </div>
</div>

