@model POS.DTO.LoginViewModel


@{
    ViewData["Title"] = "Log in";
    
}
<style>
    nav.pcoded-header{
        display:none !important;
    }
    nav.pcoded-navbar{
        display:none !important;
    }
    .pcoded[theme-layout="vertical"][vertical-placement="left"][vertical-nav-type="expanded"][vertical-effect="shrink"] .pcoded-content {
     margin-left: 0px !important; 
}
</style>


<div class="page-wrapper">
    <div class="page-header">
        <div class="page-header-title">
            <h4>@ViewData["Title"]</h4>           
        </div>
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="icofont icofont-home"></i>
                    </a>
                </li>
               
                <li class="breadcrumb-item">
                    <a href="#!">@ViewData["Title"]</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block">
                        @*Your content here*@
                        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">

                            <input type="hidden" asp-for="TerminalId" value="0" />
                            <input type="hidden" asp-for="TerminalName" value="" />
                           <input type="text" name="ClientDate" id="ClientDate" value="" class="sr-only"/>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label class="col-md-12 control-label">UserName / Email</label>
                                <div class="col-md-3">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="col-md-2 control-label"></label>
                                <div class="col-md-3">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        <input asp-for="RememberMe" />
                                        <label asp-for="RememberMe"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-primary">Log in</button>
                                </div>
                            </div>
                            <p>
                                @*<a asp-action="ForgotPassword">Forgot your password?</a>*@
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
    $("#ClientDate").val(FormatForDisplay(new Date()));
    GetClientLocalIP(function (ip) {
        
                $(".ipAddress").text(ip);
                $.ajax({
                    url: window.location.origin + "/Terminal/GetTerminalInfo?ip=" + ip,
                    async: false,
                    complete: function (data) {
                        
                        if (data.status === 200) {
                            if (data.responseJSON.terminalId !== undefined)
                                $("#TerminalId").val(data.responseJSON.terminalId);
                               $("#TerminalName").val(data.responseJSON.terminalName);
                        }
                        
                    }
                });

            });
</script>
}
