

@{
    ViewData["Title"] = "Device Mapping";
}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Create" class="form-horizontal">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row pt-5">
                <div class="form-group-sm col-md-12 text-center">
                    <label class="control-label">This Device Fingerprints :</label> <br />
                    <label class="control-label fingerprint font-weight-bold">Please Wait, Analysing Your Device ...</label>
                </div>

            </div>
            <div class="br"><hr /></div>
            <div class="form-row">
                <div class="form-group-sm col-md-12 text-center">
                    <label class="control-label">Mapped in Terminal</label>
                    <select id="Terminal_Id" class="form-control form-control" asp-items="ViewBag.Terminal_Id"></select>
                </div>

            </div>
            <div class="br"><hr /></div>



            <div class="form-group ml-button col-md-12">
                <input type="submit" value="Saved" class="btn btn-success btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script src="~/lib/fingerprint/fingerprint2.min.js"></script>
    <script>
        $(document).ready(function () {
            var fingerPrintReport = () => {
                Fingerprint2.get(function (components) {
                    var murmur = Fingerprint2.x64hash128(components.map(function (pair) { return pair.value }).join(), 31);

                    $(".fingerprint").text(murmur);

                });

            };
            setTimeout(() => {
                fingerPrintReport();
            }, 1000);



            //$.ajax({
            //    url: "C:\\Users\\DELL\\Desktop\\New folder\\Client Requirements 2019-04-22.txt",
            //    async: false,
            //    success: function (data) {
            //        debugger;
            //        alert(data);
            //    }
            //});

        });



    </script>
}
