<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - POS</title>

    <environment include="Development">
        <link href="~/lib/bootstrap-v4.0/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-treeview/css/bootstrap-treeview.css" rel="stylesheet" />
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link href="~/css/bootstrap-override.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />
        <link href="~/lib/nepali.datepicker/nepali.datepicker.v2.2.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/datatable/datatables.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap-v4.0/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-treeview/css/bootstrap-treeview.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="~/lib/nepali.datepicker/nepali.datepicker.v2.2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="~/lib/datatable/datatables.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    @*<nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">POS</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Store" asp-action="Index">Store Info</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transactions <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="SalesInvoice" asp-action="Index">Sales Invoice</a></li>
                            <li><a href="#">Tax Invoice</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Credit Return</a></li>
                            <li><a href="#">Cash Denomination</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setup <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Customer Setup</a></li>
                            <li><a href="#">Item Category Setup</a></li>
                            <li><a href="#">Item Group Setup</a></li>
                            <li><a href="#">Item Type Setup</a></li>
                            <li><a href="#">Item Setup</a></li>
                        </ul>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>*@


    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">POS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnavbar" aria-controls="mainnavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainnavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Store" asp-action="Index">Store Info </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="transactiondropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transaction</a>
                    <div class="dropdown-menu" aria-labelledby="transactiondropdown">
                        <a class="dropdown-item" asp-controller="SalesInvoice" asp-action="Index" asp-route-id="">Sales Invoice</a>
                        <a class="dropdown-item" href="/SalesInvoice?tax">Tax Invoice</a>
                        <a class="dropdown-item" asp-controller="CreditNote" asp-action="Index">Credit Note</a>
                        <a class="dropdown-item" asp-controller="Denomination" asp-action="Index">Cash Denomination</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="setupdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Setup</a>
                    <div class="dropdown-menu" aria-labelledby="setupdropdown">
                        <a class="dropdown-item" asp-controller="Customer" asp-action="Index">Customer Setup</a>
                        <a class="dropdown-item" asp-controller="ItemCategory" asp-action="Index">Item Category Setup</a>
                        <a class="dropdown-item" asp-controller="ItemGroup" asp-action="Index">Item Group Setup</a>
                        <a class="dropdown-item" asp-controller="ItemType" asp-action="Index">Item Type Setup</a>
                        <a class="dropdown-item" asp-controller="Item" asp-action="Index">Item Setup</a>
                        <a class="dropdown-item" asp-controller="Terminal" asp-action="Index">Terminal Setup</a>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Roles">UserRole Setup</a>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Users">User Setup</a>
                        <a class="dropdown-item" asp-controller="Account" asp-action="RoleWisePermission">RoleWise Permission</a>

                    </div>
                </li>
                @*<li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Settings" asp-action="Index">Setting</a>
                </li>*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="Reportdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
                    <div class="dropdown-menu" aria-labelledby="Reportdropdown">
                        <a class="dropdown-item" asp-controller="Reports" asp-action="SalesInvoice">Sales Invoice Reports</a>
                        <a class="dropdown-item" asp-controller="Reports" asp-action="TaxInvoice">Tax Invoice Reports</a>
                        <a class="dropdown-item" asp-controller="Reports" asp-action="CreditNote">Credit Note Reports</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="helpdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
                    <div class="dropdown-menu" aria-labelledby="helpdropdown">
                        <a class="dropdown-item" asp-controller="Settings" asp-action="Shortcuts">Shortcuts</a>

                    </div>
                </li>
                @*<li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Store" asp-action="Index">Contact</a>
                </li>*@
            </ul>
            <partial name="_LoginPartial" />
            @*<form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search">
        </form>*@
        </div>
    </nav>


    @*<partial name="_CookieConsentPartial" />*@

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - POS</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/bootstrap-v4.0/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-treeview/js/bootstrap-treeview.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/nepali.datepicker/nepali.datepicker.v2.2.min.js"></script>
        @*<script src="~/lib/font-awesome/js/fontawesome.js"></script>*@
        <script src="~/lib/underscore/underscore-min.js"></script>
        <script src="~/lib/bootbox/bootbox.min.js"></script>
        <script src="~/lib/datatable/datatables.min.js"></script>
        <script src="~/lib/assign-shortcuts/mousetrap.js"></script>
        <script src="~/js/assign-shortcut-keys.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/bootstrap-treeview/js/bootstrap-treeview.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/nepali.datepicker/nepali.datepicker.v2.2.min.js"></script>
        <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
        <script src="~/lib/underscore/underscore-min.js"></script>
        <script src="~/lib/bootbox/bootbox.min.js"></script>
        <script src="~/lib/datatable/datatables.min.js"></script>
        <script src="~/lib/assign-shortcuts/mousetrap.min.js"></script>
        <script src="~/js/assign-shortcut-keys.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
