<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="ashok.subedi5@gmail.com" display-name="Ashok Subedi">
    <title>@ViewData["Title"] - ASRetail</title>




    <environment exclude="Development">
        <!-- Required Fremwork -->

        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/bootstrap-override.css" rel="stylesheet" />

        <link href="~/lib/bootstrap-treeview/css/bootstrap-treeview.css" rel="stylesheet" />
        @*<link href="~/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />*@


        @*<link href="~/lib/nepali.datepicker/nepali.datepicker.v2.2.min.css" rel="stylesheet" />
        <link href="~/lib/datatable/datatables.min.css" rel="stylesheet" />*@

        <!--icons  -->
        <link rel="stylesheet" type="text/css" href="~/icon/themify-icons/themify-icons.css">
        @*<link rel="stylesheet" type="text/css" href="~/icon/icofont/css/icofont.css">
        <link rel="stylesheet" type="text/css" href="~/css/linearicons.css">
        <link rel="stylesheet" type="text/css" href="~/css/simple-line-icons.css">
        <link rel="stylesheet" type="text/css" href="~/css/ionicons.css">*@
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

        @*<link rel="stylesheet" type="text/css" href="~/css/jquery.mCustomScrollbar.css">*@
        <link href="~/lib/jquery.mCustomScrollbar.concat/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
        <link href="~/lib/pnotify/css/pnotify.custom.min.css" rel="stylesheet" />


        <!--keno ui  -->
        <link href="~/lib/kendo-ui/kendo.common-material.min.css" rel="stylesheet" />
        <link href="~/lib/kendo-ui/kendo.material.min.css" rel="stylesheet" />
        @*<link href="~/lib/kendo-ui/kendo.material.mobile.min.css" rel="stylesheet" />*@

        <link href="~/lib/printjs/print.min.css" rel="stylesheet" />
        @*<link href="~/lib/datatable/datatables.min.css" rel="stylesheet" />*@
        <!--custom css  -->
        <link rel="stylesheet" href="~/css/site.css" />




    </environment>
</head>
<body>

    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div></div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <div id="pcoded" class="pcoded pcoded-body">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <partial name="Components/_TopNavBar" />
            @*<partial name="_CookieConsentPartial" />*@


            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <partial name="Components/_LeftsideBar" />
                    <div class="pcoded-content">
                        <div class="main-body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <environment exclude="Development">
        @*<script src="~/js/main.min.js"></script>*@




        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>
        <script src="~/lib/popper.js/js/popper.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/math/math.min.js" asp-append-version="true"></script>

        <script src="~/lib/bootstrap-treeview/js/bootstrap-treeview.js" asp-append-version="true"></script>



        <script src="~/lib/jquery-slimscroll/js/jquery.slimscroll.js" asp-append-version="true"></script>
        <script src="~/lib/jquery.mCustomScrollbar.concat/jquery.mCustomScrollbar.js" asp-append-version="true"></script>
        <script src="~/lib/moment/js/moment.min.js" asp-append-version="true"></script>

        @*<script src="~/lib/jquery.mCustomScrollbar.concat/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/lib/jquery.mCustomScrollbar.concat/jquery.mousewheel.min.js"></script>
        <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>*@

        <script src="~/lib/kendo-ui/jszip.min.js" asp-append-version="true"></script>
        <script src="~/lib/modernizr/js/modernizr.js" asp-append-version="true"></script>
        <script src="~/lib/underscore/underscore-min.js" asp-append-version="true"></script>
        <script src="~/lib/underscore/underscoreAddon.js" asp-append-version="true"></script>
        <script src="~/lib/bootbox/bootbox.min.js" asp-append-version="true"></script>
        @*<script src="~/lib/datatable/datatables.min.js"></script>*@


        <script src="~/lib//kendo-ui//kendo.core.min.js" asp-append-version="true"></script>
        <script src="~/lib/kendo-ui/kendo.data.min.js" asp-append-version="true"></script>
        <script src="~/lib/kendo-ui/kendo.grid.min.js" asp-append-version="true"></script>


        @*<script src="~/lib/kendo-ui/kendo.list.min.js"></script>*@

        @*<script src="~/lib/kendo-ui/kendo.pager.min.js"></script>

        *@


        @*<script src="~/lib/kendo-ui/kendo.all.min.js"></script>*@


        <script src="~/lib/cookie/jquery.cookie.js" asp-append-version="true"></script>
        <script src="~/js/pcoded.min.js" asp-append-version="true"></script>
        <script src="~/js/demo-12.js" asp-append-version="true"></script>
        <script src="~/lib/pnotify/js/pnotify.custom.min.js" asp-append-version="true"></script>


        <script src="~/lib/printjs/print.min.js" asp-append-version="true"></script>

        @*<script src="~/lib/kendo-ui/jszip.min.js"></script>*@
        <script src="~/js/print-custom.js" asp-append-version="true"></script>
        <script src="~/servers.js"></script>


        <script src="~/lib/assign-shortcuts/mousetrap.js" asp-append-version="true"></script>
        <script src="~/js/assign-shortcut-keys.js" asp-append-version="true"></script>

        @*<script src="~/lib/datatable/datatables.min.js"></script>*@
        <script src="~/lib/nepali.datepicker/nepali.datepicker.v2.2.min.js" asp-append-version="true"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>












    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>