@model ErrorViewModel
@{
    ViewData["Title"] = "UnAuthorized";
}
<style>
    .text-black{
        color:black;
    }
    small{
        font-size:13px;
    }
</style>

    <h1 class="text-danger pt-5">UnAuthorized Access</h1>
<h2 class="text-black">You Donot have permission to visit this page !! 
    <br /><small>Please contact administrator for permission.</small></h2>




