
@model POS.DTO.CreditNote
@{
    ViewData["Title"] = "Credit Note";
}
<style>

    .bill_to_info_div, .invoice-id {
        display: none;
    }

    .bill_to_background_color {
        padding: 7px;
        margin: 0;
        border: 0;
        background-color: rgb(247, 244, 244);
    }


    #item_code {
        font-size: 34px;
        height: 40px;
    }



    .flat-discount {
        background-color: white;
    }

    .flatDiscountHide {
        display: none;
        visibility: hidden;
    }



    #customer_icon_toggle {
        /*margin-top: 30px;*/
        cursor: pointer;
    }



    #itemNotFoundLabel {
        color: red;
        display: none;
    }

    /*for fa-icon inside input*/
    .input-icon {
        position: absolute;
        right: 9px;
        top: calc(35% - 0.5em);
        font-size: 40px;
    }

    .input-wrapper {
        position: relative;
    }
    /*for fa-icon inside input*/

    #table-item-name {
        width: 30%;
    }

    #Credit_Note {
        position: relative;
        /*z-index: 99999;*/
        height: 60px;
        margin-bottom: -90px;
    }

    #Credit_Note_Message {
        padding-left: 180px;
    }

    .k-footer-template td:nth-child(1),
    .k-footer-template td:nth-child(2),
    .k-footer-template td:nth-child(3),
    .k-footer-template td:nth-child(4),
    .k-footer-template td:nth-child(5) {
        border-width: 0;
    }

    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 16px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
<div class="page-wrapper">
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-block">
                        @*Your content here*@
                        @Html.Partial("_ResponseMessagePartial")
                        <form id="Credit_Note_Form" method="post" asp-action="Index">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div id="Message" class="text-danger sr-only"></div>
                            <input type="hidden" asp-for="Flat_Discount_Amount" />
                            <input type="hidden" asp-for="Flat_Discount_Percent" />
                            <input type="hidden" asp-for="Trans_Type" value="Sales" />
                            <input type="hidden" asp-for="Total_Discount" />
                            <input type="hidden" asp-for="Total_Gross_Amount" />
                            <input type="hidden" asp-for="Total_Net_Amount" />
                            <input type="hidden" asp-for="Total_Quantity" />
                            <input type="hidden" asp-for="Total_Vat" />
                            <input type="hidden" asp-for="TaxableAmount" />
                            <input type="hidden" asp-for="NonTaxableAmount" />
                            <input type="hidden" asp-for="Tender_Amount" />
                            <input type="hidden" asp-for="Change_Amount" />
                            <input type="hidden" asp-for="Remarks" />
                            <input type="hidden" asp-for="MemberId" />
                            <input type="hidden" id="Customer_Id" />
                            <input type="hidden" asp-for="Reference_Number_Id" />
                            <input type="hidden" asp-for="Payment_Mode" />

                            <div class="br"></div>
                            <label id="errorMessage" class="text-danger"></label>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label asp-for="Reference_Number" class="control-label"></label>
                                    <input asp-for="Reference_Number" placeholder="Format: 'SI-XXXX-CHK-075/76'" class="form-control form-control-sm" />
                                    <span asp-validation-for="Reference_Number" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="Trans_Date_Ad" class="control-label"></label>
                                    <input asp-for="Trans_Date_Ad" type="text" id="trans_date_ad" class="form-control form-control-sm" readonly />
                                    <span asp-validation-for="Trans_Date_Ad" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-2">
                                    <label asp-for="Trans_Date_Bs" class="control-label"></label>
                                    <input asp-for="Trans_Date_Bs" class="form-control form-control-sm" id="trans_date_bs" readonly />
                                    <span asp-validation-for="Trans_Date_Bs" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-5">
                                    <label asp-for="Credit_Note" class="control-label"></label>
                                    <input asp-for="Credit_Note" class="form-control form-control-sm" />
                                    <span id="Credit_Note_Message" asp-validation-for="Credit_Note" class="text-danger"></span>
                                </div>
                            </div>

                            <fieldset>
                                <div class="form-row">
                                    <label class="control-label col-md-1">Bill To</label>
                                    <div class="form-group col-md-2">
                                        @*@Html.DropDownList("Customer_Id", new SelectList(ViewBag.Customer, "Membership_Number", "Name"), "", new { @class = "form-control form-control-sm" })*@
                                        <input id="BillTo_Name" class="form-control form-control-sm" readonly />
                                    </div>
                                    <div class="horizontal-form-padding">

                                    </div>

                                    <div class="form-group ml-2">
                                        <span class="fa fa-chevron-right" id="customer_icon_toggle"></span>
                                    </div>
                                    <div style="margin-left:42px;">

                                        <label class="container">
                                            IsRedeemed
                                            <input type="checkbox" id="isRedeemed" value="false">
                                            <span class="checkmark"></span>
                                        </label>



                                    </div>
                                    <label class="control-label col-md-1 flatDiscountHide">Flat Discount:</label>
                                    <div class="form-group col-md-1 flatDiscountHide">
                                        <input name="flat_discount" id="flat_discount" class="form-control form-control-sm" readonly />
                                    </div>
                                    <div class="form-group col-md-4 flatDiscountHide">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="flatDiscount" id="percentRadio" value="percent" disabled>
                                            <label class="form-check-label" for="percentRadio">%</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="flatDiscount" id="amountRadio" value="amount" disabled>
                                            <label class="form-check-label" for="amountRadio">Rs</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="bill_to_info_div">
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label asp-for="Customer_Name" class="control-label"></label>
                                            <input asp-for="Customer_Name" class="form-control form-control-sm" readonly />
                                            <span asp-validation-for="Customer_Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label asp-for="Customer_Vat" class="control-label"></label>
                                            <input asp-for="Customer_Vat" class="form-control form-control-sm" readonly />
                                            <span asp-validation-for="Customer_Vat" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label asp-for="Customer_Mobile" class="control-label"></label>
                                            <input asp-for="Customer_Mobile" class="form-control form-control-sm" readonly />
                                            <span asp-validation-for="Customer_Mobile" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label asp-for="Customer_Address" class="control-label"></label>
                                            <input asp-for="Customer_Address" class="form-control form-control-sm" readonly />
                                            <span asp-validation-for="Customer_Address" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="br clearfix"></div>
                            <div class="row sr-only">
                                <div class="col-md-12">
                                    <div class="form-group input-wrapper">
                                        <input type="text" name="item_code" id="item_code" class="form-control" placeholder="Enter Bar Code ...">
                                        <i class="fa fa-barcode input-icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="br"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="item_table" class="item_table table table-sm table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>BarCode</th>
                                                <th id="table-item-name">Item</th>
                                                <th>Unit</th>
                                                <th>Rate</th>
                                                <th>Qty</th>
                                                <th>Gr. Amount</th>
                                                <th>Discount</th>
                                                <th>Tax</th>
                                                <th>Net Amount</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        @*<tfoot>
                                                <tr>
                                                    <th class="text-right" id="total" colspan="5">Total :</th>
                                                    <td class="text-right" id="totalQuantity">0</td>
                                                    <td class="text-right" id="totalGrossAmount">0</td>
                                                    <td class="text-right" id="totalDiscount">0</td>
                                                    <td class="text-right" id="totalTax">0</td>
                                                    <td class="text-right" id="totalNetAmount">0</td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>*@
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="button" value="Save" id="SaveButton" class="btn pull-right btn-success" />
                                <label class="pull-right">&nbsp;&nbsp;</label>
                                <input type="button" value="Reset" id="ResetButton" class="btn pull-right btn-danger" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        @*var customerList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Customer));*@
        var salesInvoiceTmpData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    </script>
  
    <script src="~/js/Page/CreditNote.js">
        //if ($('isRedeemed').is(":checked")) {
        //    document.getElementById('isRedeemed').value = 'true';
        //}
        //console.log("reedemed", document.getElementById('isRedeemed').value);
    </script>
}
